
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    /* colors */
    --white :#f6f6f6; 
    --light-white :#f6f6f6a9; 
    --transparent-white :#f6f6f65d; 
    --black :#091122; 
    --light-black :#091122b5; 
    --transparent-black :#09112261; 
    --orange:#FFA070;
    --light-orange:rgb(151, 112, 92);

    /* effect colors */
    --clr-1: #3078AC;
    --clr-2: #5b7d94;
    --clr-3: #86817c;
    --clr-4: #b18564;
    --clr-5: #DB894B;

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);

    /* fonts */
    --dm-sans : "DM Sans", sans-serif;
    --dm-mono : "DM Mono", monospace;
    --anton : "Anton", sans-serif;
}

/* General */

body {
    background-color: var(--black) !important;
    margin: 0;
    padding: 0;
}


a {text-decoration: none !important;}

#the__credits {
    opacity: 50%;
    width: 100%; padding-block: 1rem;
    text-align: center;
    font-size: 14px;
    font-family: var(--dm-mono);
    color: var(--white);
}

.gen__content_div {
    display: flex; flex-direction: column; align-items: start; justify-content: center;
    width: 85%; height: fit-content; gap: 36px; 
    margin-top: 11.5rem;
    margin-bottom: 10rem;
} .isaservicepage {
    margin-top: 16rem;
    margin-bottom: 5rem;
} .iscontactpage {
    margin-top: 16rem;
    margin-bottom: 8rem;
}

.gen__big_title {
    max-width: 900px;
    text-transform: uppercase;
    position: block;
    font-size: 120px;
    text-align: start;
    font-family: var(--anton);
    color: var(--white); line-height: 102%;
}

.gen__big_title.makeitsmaller {
    font-size: 85px;
}

.gen__title {
    font-size: 65px;
    text-align: start;
    font-family: var(--dm-sans);
    font-weight: bold;
    color: var(--white); line-height: 102%;
}

.gen__title img {
    width: 55px; height: auto;
}

.gen__box_title {
    font-size: 45px;
    text-transform: uppercase;
    font-family: var(--anton);
    color: var(--white); line-height: 102%;
}

.gen__etiquette {
    max-width: 450px;
    font-size: 18px;
    font-weight: 400;
    line-height: 102%;
    text-align: start;
    font-family: var(--dm-mono);
    color: var(--transparent-white);
}

.gen__etiquette.section__etiquette{
    color: var(--orange);
}

.gen__subtitle {
    max-width: 500px;
    font-size: 23px;
    font-weight: 400;
    line-height: 102%;
    font-family: var(--dm-sans);
    color: var(--white);
}

.gen__body_text {
    font-size: 20.83px;
    font-weight: 300;
    font-family: var(--dm-sans);
    color: var(--light-white);
}

.makeitorange {
    color: var(--orange) !important;
}
.makeitbold {
    font-weight: bolder;
}

.gen__text_container {
    display: flex; flex-direction: column; justify-content: start; align-items: start;
    gap: 3rem; width: 45%;  max-width: 600px;
}

.gen__content_subtitle {
    display: flex; flex-direction: column; 
    justify-content: center; align-items: start; text-align: start;
    gap: 40px; 
    /* opacity: 90%; */
}

/* .gen__first_type_btn {
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    height: fit-content;
    background: linear-gradient(360deg, #3078AC, #DB894B);
    background-clip: padding-box; 
    transition: ease-in-out .5s;
}

.gen__first_type_btn:hover {
    box-shadow: rgba(226, 115, 41, 0.413) 0px 8px 24px;
    transition: ease-in-out .5s;
    animation: rotateGradient 10s infinite linear;
}

.gen__first_type_btn span{
    background-color: #091122b5;
    padding: 13px 21px;
    margin: 3px;
    border-radius: 12px;
    font-size: 20px;
    font-family: var(--dm-mono);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
}

.gen__first_type_btn a{
    background-color: #091122b5;
    padding: 7px 17px;
    margin: 3px;
    border-radius: 12px;
    font-size: 16px;
    font-family: var(--dm-mono);
    text-transform: capitalize;
    color: var(--white);
}

.gen__first_type_btn a:hover {
    color: var(--white);
} */


@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .gen__first_type_btn {

    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    height: fit-content;
    position: relative;
    transition: ease-in-out .2s;
  }

  .gen__first_type_btn:hover {
    transition: ease-in-out .2s;
    box-shadow: rgba(224, 142, 27, 0.386) 0px 16px 36px;
  }
  
  .gen__first_type_btn::before,
  .gen__first_type_btn::after {
    content: "";
    position: absolute;
    inset: -0.15rem;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      var(--clr-1),
      var(--clr-3),
      var(--clr-5),
      var(--clr-3),
      var(--clr-1)
    );
    border-radius: inherit;
    animation: rotation 3s linear infinite;
  }
  
  .gen__first_type_btn::after {
    filter: blur(3.5rem);
  }

  .gen__first_type_btn span{
    background-color: #091122b5;
    padding: 13px 21px;
    margin: 3px;
    border-radius: 12px;
    font-size: 20px;
    font-family: var(--dm-mono);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    transition: all ease-in-out .5s;
}

.gen__first_type_btn:hover span {
    transition: all ease-in-out .5s;
    padding-inline: 30px;
}
.gen__first_type_btn.email__btn:hover span {
    padding: 13px 21px;
}

.email__btn {
    width: 100%;
}
.email__btn span {
    width: 100%;
    text-align: center;
}

.gen__first_type_btn a{
    background-color: #091122b5;
    padding: 7px 17px;
    margin: 3px;
    border-radius: 12px;
    font-size: 16px;
    font-family: var(--dm-mono);
    text-transform: capitalize;
    color: var(--white);
}

.gen__first_type_btn a:hover {
    color: var(--white);
}
  
  @keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }
  


.gen__second_type_btn {
    display: flex; justify-content: space-between; align-items: center; gap: 2rem;
    width: fit-content; height: fit-content;
    background-color: none;
    border-radius: 24px;
    padding-right: .4rem;
    padding-left: 1.4rem;
    padding-block: .3rem;
    transition: all ease-in-out .3s;
}

.gen__second_type_btn span {
    font-size: 20px;
    font-family: var(--dm-mono);
    text-transform: uppercase;
    font-weight:400;
    color: var(--white);
}

.gen__button_block {
    display: flex; justify-content: space-between; align-items: center; gap: 3rem;
}

/* Footer Section */

#Footer_section {
    margin-top: 20rem;
    width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;
    height: fit-content; padding-top: 9rem; padding-bottom: 1.5rem;
    background-position: center; background-size: cover;
    background-image: url(/assets/images/backgrounds/stock__bg/grain__bg.svg);
}

#footer-container.service__factor {
    margin-top: -8rem;
}

.footer__content_div {
    width: 85%; height: fit-content; display: flex; flex-direction: column; justify-content: center; align-items: center; 
}

    .footer__separator {
        opacity: 30%;
        height: 2px;  
        width: 100%; 
        background-color: var(--white);
        margin: 10px 0;
        margin-bottom: 1.5rem;
    }

    .footer__text_block {
        margin-bottom: 5rem;
        width: 100%; height: fit-content;
        display: flex; justify-content: space-between; align-items: end;
    }

    .footer__text_block .gen__big_title {
        font-size: 155px;
    }

    .footer__links_block {
        width: 100%; height: fit-content;
        display: flex; justify-content: space-between; align-items: center;
        margin-bottom: 3rem;
    }

        .footer__logo {
            width: 45%; height: auto;
            max-width: 400px;
        }

        .footer__links_container {
            width: 30%; height: fit-content;
            display: flex; justify-content: space-between; align-items: start;
            gap: 2rem;
        }

            .footer__links_column {
                width: 50%; display: flex; flex-direction: column;
                justify-content: start; align-items: start; gap: 1.5rem;
            }

                .footer__link {
                    display: flex; justify-content: space-between; align-items: center; gap: .5rem;
                    font-family: var(--poppins); 
                    font-weight: 300;
                    font: 18px; 
                    color: var(--white); opacity: 100%;
                    transition: ease-out .15s;
                }

                .footer__link:hover {
                    transition: ease-out .15s;
                    color: var(--white);
                    cursor: pointer;
                    padding-left: .5rem;
                }

/* Contact Section */

#Contact__section {
    width: 100%; margin-block: 15rem;
    display: flex; justify-content: center; align-items: center;
}

.contact__content_div {
    display: flex; flex-direction: column; 
    justify-items: center; align-items: center;
    width: 60%; gap: 2rem;
}

.contact__box {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    width: 50%; height: fit-content; gap: 20px;
}

.contact__box_container {
    display: flex; 
    justify-content: space-between; align-items: center;
    gap: 20px; width: 100%; height: fit-content;
}

    .contact_box__small {
        display: flex; justify-content: center; align-items: center;
        border-radius: 14px;
        background-color: var(--light-black);
        outline: 2px solid var(--transparent-white);
        width: 100%; height: 80px;
        transition: ease-in-out .2s;
    }

    .contact_box__small:hover {
        cursor: pointer;
        outline: 2px solid var(--light-orange);
        box-shadow: rgba(224, 142, 27, 0.386) 0px 16px 36px;
        transition: ease-in-out .2s;
    }

    .contact_box__small i {
        font-size: 30px; 
        color: var(--white);
    }

/* Service Section */

#Service_section {
    display: flex; justify-content: center; align-items: center;
    width: 100%; height: fit-content; margin-bottom: -20rem;
}

.service__content_div {
    display: flex; flex-direction: column; justify-content: start; align-items: center;
    width: 100%; gap: 3rem; margin-bottom: 5rem;
}

    .service__title {
        display: flex; flex-direction: column;
        justify-content: center; align-items: center;
        width: 100%; height: fit-content; gap: 3.5rem;
    }

        .service__title_block {
            display: flex; flex-direction: column;
            justify-content: center; align-items: center;
            gap: 1rem;
        }

        .service__title_block .gen__title.contact__factor {
            max-width: 700px;
        }

        .service__title_block span {
            text-align: center;
        }

        .service__body_text {
            text-align: center;
            width: 40%;
        }

        .service_end__body_text {
            width: 50%;
        }

    .service__boxs {
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        width: 80%; max-width: 1160px; height: fit-content; gap: 3rem;
    }

        .service__grid {
            display: flex; flex-direction: column; width: 100%; height: fit-content;
            gap: 35px;
        }

            .service__grid_block {
                display: flex;
                justify-content: space-between; align-items: center;
                width: 100%; height: fit-content; gap: 35px;
            }

                .service__card {
                    display: flex; justify-content: start; 
                    align-items: end;
                    border-radius: 14px;
                    height: 430px; max-width: 360px;
                    outline: 2px solid var(--transparent-white);
                    padding: 25px;
                    background-position: center; background-size: cover;
                    transition: ease-in-out .2s;
                }

                .service__card:hover {
                    cursor: pointer;
                    outline: 2px solid var(--orange);
                    box-shadow: rgba(224, 142, 27, 0.386) 0px 16px 36px;
                    transition: ease-in-out .2s;
                }

                .service__card.long__service_card {
                    height: 360px;
                    max-width: 100%; width: 100%;
                }

                .service__card.contact__factor {
                    height: 250px;
                }

                .long__service_card .card__body_text {
                    width: 30% !important;
                }

                .service__card .card__text .card__title {
                    line-height: 102%;
                }

                .service__card .card__text .card__body_text {
                    width: 80%;
                    color: var(--light-white);
                }

/* Message Section */

#Message__section {
    display: flex; justify-content: center; align-items: center;
    width: 100%; height: fit-content; background-position: center; background-size: cover;
}

.message__text_container {
    margin-block: 5rem;
    gap: 5rem;
    width: 85%; max-width: 1360px; display: flex; flex-direction: column; 
    justify-content: center; align-items: center;
}

.message__text_container .gen__big_title {
    max-width: 2000px;
}

.scroller {
    max-width: 1200px;
  }
  
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
  }
  
  .tag-list li {
    display: flex;
    justify-content: center; align-items: center;
    padding: 1rem;
    background: transparent;
    border-radius: 0.5rem;
    box-shadow: none;
  }

  .scroller__image {
    opacity: 70%;
  }

/* Stages Section */

.Stages__section {
    padding-block: 5rem;
    display: flex; justify-content: center; align-items: center;
    width: 100%; height: fit-content; background-position: center; background-size: cover;
}

.stage__title_block {
    display: flex; flex-direction: column; justify-content: start; align-items: start;
    gap: 2rem; 
}

.stage__title_block i {
    line-height: 100%;
    background-color: var(--white);
    border-radius: 14px; padding: 10px;
    font-size: 50px; color: var(--blue);
}

.stage__title_block i.makeitblue {
    line-height: 100%;
    background-color: var(--blue);
    border-radius: 14px; padding: 10px;
    font-size: 50px; color: var(--white) !important;
}

.stage__poster {
    width: 48%;
    height: 630px;
    background-image: url(/assets/img/bg/servizi/prototipazione.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: ease-in-out .1s;
}

/* Service Info Section */

#Service__Info__section {
    display: flex; flex-direction: column; 
    align-items: center; justify-content: center;
    width: 100%; height: fit-content; gap: 8rem;
    margin-block: 10rem;
}

.service__info__stage_div {
    display: flex; justify-content: space-around; align-items: center;
    gap: 50px;
    width: 85%; height: fit-content;
}

.service__info__content_div {
    display: flex; flex-direction: row; justify-content: space-between; align-items: start;
    gap: 5.5rem; width: 68%; max-width: 1200px;
}

.service__info__content_div .gen__text_container {
    width: 95%; max-width: 1200px;
}

.service__info__title_block {
    display: flex; flex-direction: column; justify-content: start; align-items: start;
    gap: 1.5rem; 
}

.service__info__title_block i {
    font-size: 100px; color: var(--white);
}

/* Cosa facciamo */

#Cosafacciamo__section {
    display: flex; justify-content: center; align-items: center;
    width: 100%;
}

.cosafacciamo__container {
    margin-block: 10rem;
    display: flex; flex-direction: column; justify-items: center;
    width: 80%; max-width: 1160px; gap: 90px;
}

.cosafacciamo__container.contact__factor {
    margin-top: 20rem; gap: 10rem; margin-bottom: 0rem;
}

.cosafacciamo__container.service__factor {
    gap: 10px;
    margin-top: 10rem; margin-bottom: -5rem;
    align-items: center;
}

.cosafacciamo__container.service__factor .gen__second_type_btn{
    margin-top: 5rem;
    text-decoration: underline !important;
    text-decoration-color: var(--white) !important;
}


.cosafacciamo__content_div {
    display: flex; flex-direction: column; justify-content: space-between; align-items: start;
    gap: 3.5rem; width: 100%; max-width: 1200px;
}

.cosafacciamo__container.service__factor .cosafacciamo__content_div {
    justify-content: center; align-items: center;
}

.cosafacciamo__title_block {
    display: flex; flex-direction: column;
    justify-content: start; align-items: start;
    gap: 30px;
    max-width: 600px;
}

.cosafacciamo__container.service__factor .cosafacciamo__content_div .cosafacciamo__title_block {
    justify-content: center; align-items: center; gap: 15px;
}

.cosafacciamo__cards_div {
    display: flex; justify-content: space-between; align-items: center;
    width: 100%; height: fit-content; gap: 50px; 
    flex-wrap: wrap;
}

    .cosafacciamo__card {
        display: flex; flex-direction: column; 
        justify-content: start; align-items: start;
        gap: 20px; width: 245px; height: fit-content;
    }

    .cosafacciamo__card img {
        width: 35px; height: auto;
    }

    .card__text {
        display: flex; justify-content: start; align-items: start;
        flex-direction: column; gap: 10px; width: 100%; height: fit-content;
    }

        .card__title {
            color: var(--white);
            font-family: var(--dm-sans);
            font-weight: bold; font-size: 24px;
        }
        .card__body_text {
            color: var(--transparent-white);
            font-family: var(--dm-sans);
            font-weight: 300; font-size: 14.83px;
        }

    .chisiamo__card {
        display: flex; flex-direction: column; 
        justify-content: start; align-items: start;
        gap: 20px; width: 345px; height: fit-content;
    }
    
    .chisiamo__card img {
        width: 35px; height: auto;
    }

    .card__pp {
        display: flex; justify-content: space-between; align-items: center;
        gap: 20px;
    }

    .chisiamo__card .card__pp img {
        width: 40px;
    }

    .card__subtitle {
        color: var(--transparent-white);
        font-family: var(--dm-mono);
        font-weight: 300; font-size: 14.83;
    }
    
    .chisiamo__card .card__body_text {
        color: var(--white);
        font-weight: 300; font-size: 18;
    }
    

.cosafacciamo__typeform {
    margin-top: 2rem;
    background-image: url("/assets/images/backgrounds/stock__bg/grainform__bg.svg");
    background-position: center; background-size: cover;
    display: flex; justify-content: space-between; align-items: end;
    border-radius: 24px;
    border: 4px solid var(--transparent-white);
}

    .typerform__text {
        width: 50%;
        display: flex; flex-direction: column;
        align-items: start; justify-content: start;
        gap: 20px;
        padding-left: 80px;
        padding-block: 100px;
    }

    .typerform__text .gen__title {
        font-size: 54px;
    }

    .typerform__text a {
        margin-top: 30px;
    }

    .typeform__img {
        display: flex; justify-content: center; align-items: end;
        width: 50%;
    }

    .typeform__img a {
        width: 100%;
        display: flex; justify-content: center; align-items: end;
    }

    .typeform__img_preview {
        width: 70%;
        transition: ease-in-out .2s;
    }

    .typeform__img_preview.service__factor {
        width: 60%;
    }

    .typeform__img_preview:hover {
        transition: ease-in-out .2s;
    }

/* Info Section */

#Info__section {
    display: flex; flex-direction: column; 
    align-items: center; justify-content: center;
    width: 100%; height: fit-content; gap: 5rem;
    margin-block: 10rem;
}

#Info__section.contact__factor {
    margin-block: 12rem;
}

.info__container {
    display: flex; width: 80%; max-width: 1160px;
    gap: 2rem;
    flex-direction: column;
    justify-content: start; align-items: start;
}

.info__container.service__factor {
    margin-block: 12rem;
}

.info__body_text {
    width: 80%;
}

.info__body_text img {
    width: 55px;
}

.info__stage_div_container {
    display: flex; justify-content: center; align-items: center;
    width: 100%; margin-top: 5rem;
}

.info__stage_div {
    display: flex; justify-content: space-around; align-items: center;
    gap: 50px;
    width: 70%; height: fit-content;
}

.info__stage_block {
    display: flex; flex-direction: column;
    justify-content: start; align-items: center;
    gap: 10px;
}
.info__stage_block img {
    width: 85px; height: auto;
}
.info__stage_block span {
    text-align: center;
}

.info__content_div {
    display: flex; flex-direction: row; justify-content: space-between; align-items: start;
    gap: 3.5rem; width: 100%; max-width: 1200px;
}

.info__content_div.contact__factor {

}

.info__content_div.contact__factor .info__title_block {
    width: 50%;
}

.info__content_div.stage__factor {
    align-items: center;
}

.stage__reverse {
    flex-direction: row-reverse;
}

    /* .info__text_container {
        display: flex; flex-direction: column; justify-content: start; align-items: start;
        gap: 3rem; width: 45%;  max-width: 600px;
    } */

        .info__title_block {
            display: flex; flex-direction: column; justify-content: start; align-items: start;
            width: 42%;
            gap: 2.5rem; 
        }

        .info__title_block i {
            font-size: 100px; color: var(--white);
        }

    .info__illustration {
        width: 45%; height: auto; max-width: 600px;
    }

/* Home Section */

#Landing__section {
    display: flex; align-items: center; justify-content: center;
    width: 100%; height: fit-content;
    background-position: center; background-size: cover;
    background-image: url(/assets/images/backgrounds/stock__bg/grain__bg.svg);
}

.hero__section {
    /* background-image: url(/assets/img/bg/main_bg.webp); */
    /* background-image: url(/assets/img/bg/grain_bg.webp); */
    /* background-image: url(/assets/img/bg/Sfondo\ Hero.webp); */
    /* background-size: cover;
    background-attachment: fixed; */
    height: 100vh; /* Imposta l'altezza del sezione a 100% dell'altezza della viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Services Offcanvas */

#Services__offcanvas {
    display: flex; justify-content: start; align-items: center;
    width: 100%; height: 100vh; background-color: var(--transparent-black);
    backdrop-filter: blur(20px);
}

.offcanvas__header {
    display: flex; width: 95%; height: fit-content; padding-top: 1.5rem;
    justify-content: space-between; align-items: center; 
}

.offcanvas__header #navbar__logo {
    color: var(--white);
}

.offcanvas__closer {
    cursor: pointer;
    font-size: 30px;
    color: var(--white);
}

.offcanvas__body {
    padding-top: 2rem;
    width: 85%; height: fit-content;
    display: flex; justify-content: space-between; align-items: center;
}

    .offcanvas__link_container {
        width: max-content; height: fit-content;
        display: flex; flex-direction: column;
        justify-content: start; align-items: start; 
        gap: 25px;
    }

    .offcanvas__link {
        font-size: 55px; opacity: 100%;
        font-family: var(--anton);
        color: var(--white); line-height: 102%;
        transition: ease-in-out .2s;
    }

    .offcanvas__link:hover {
        color: var(--orange);
        padding-left: 1.5rem;
        transition: ease-in-out .1s;
    }

    #offcanvas__poster {
        width: 485px;
        height: 630px;
        background-image: url(/assets/img/bg/servizi/prototipazione.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: ease-in-out .1s;
    }

/* Navbar */

#Navbar__main {
    display: flex; justify-content: space-between; align-items: center;
    height: fit-content; width: 100%; position: fixed; 
    padding-inline: 80px; padding-block: 36px;

    transition: all ease .5s;
    z-index: 999;
}

#navbar-container {
    width: 100%;
}

.nav-hidden {
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 2;
    box-shadow: rgba(8, 8, 8, 0.2) 0px 8px 24px;
    padding-left: 2.1rem !important;
    padding-block: 1.1rem !important;
    transition: all ease 0.6s;
    background-image: url(/assets/images/backgrounds/stock__bg/nav__bg.svg) !important;
    background-position: center; background-size: cover;
    transform: translateY(-100%) !important;
}

.nav-visible {
    position: fixed;
    z-index: 2;
    box-shadow: rgba(8, 8, 8, 0.2) 0px 8px 24px;
    padding-left: 2.1rem !important;
    padding-block: 1.1rem !important;
    transition: all ease 0.6s;
    background-image: url(/assets/images/backgrounds/stock__bg/nav__bg.svg) !important;
    background-position: center; background-size: cover;
    transform: translateY(0) !important;
}

.nav-visible .navbar__link,
.nav-visible .navbar__link_btn {
    opacity: 100%;
}

#navbar__logo {
    width: 165px; height: auto; opacity: 100%;
}

#navbar__links_container {
    display: flex; justify-content: space-around; align-items: center;
    gap: 5rem;
}

.navbar__link {
    font-family: var(--dm-sans); 
    font-weight: 300;
    font: 16px; 
    color: var(--white); opacity: 100%;
    list-style: none;
}

.navbar__link:hover .link{
    color: var(--white);
    opacity: 100%;
}

  .navbar__link .link {
    color: var(--white);
    /* text-transform: uppercase; */
    text-decoration: none;
    letter-spacing: 0.15em;
    opacity: 70%;
    display: inline-block;
    padding: 5px 5px;
    position: relative;
  }
  .navbar__link .link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navbar__link .link:hover:after { 
    width: 100%; 
    left: 0; 
  }

.navbar__link_btn {
    opacity: 90%;
    list-style: none;
}
.navbar__link_btn a {
    font-family: var(--poppins);  font-weight: 600;
    font: 20px; color: var(--white); opacity: 100%;
    padding-inline: 25px; padding-block: 10px; 
    background-color: var(--white); 
    /* background-color: #EFA664;  */
    border-radius: 24px;
}
.navbar__link_btn a:hover {
    color: var(--white);
}

#navbar__side_menu_btn {
    display: none;
    font-size: 35px;
}

/* SideBar Menu */

#sidebar__menu {
    background-color: var(--transparent-black);
    backdrop-filter: blur(20px);
    display: flex; flex-direction: column; 
    justify-content: start; align-items: center;
    padding-inline: 2rem;
}

.offcanvas__link_container.sidebar__factor {
    flex-direction: column;
    list-style: none;
}

.sidebar__link a {
    color: var(--white) !important;
    font-family: var(--anton); 
    text-transform: uppercase;
    font-weight: 400;
    font-size: 45px; 
    list-style: none;
}

#sidebar__service_back {
    display: none;
}
