/* Smartphone in modalità ritratto e schermi più piccoli */
@media only screen and (max-width: 767px) {
    
    /* Generic */
    .gen__title {
        font-size: 35px;
    }
    .gen__big_title {
        font-size: 52px;
    }
    .gen__big_title.makeitsmaller {
        font-size: 45px;
    }
    .gen__subtitle {
        font-size: 18px;
    }
    .gen__body_text {
        font-size: 16px;
    }
    .gen__first_type_btn span {
        font-size: 16px;
        padding: 10px 15px;
    }
    .gen__second_type_btn span {
        font-size: 16px;
    }

    .gen__button_block {
        align-items: start;
        justify-content: start;
        margin-top: 2rem;
        flex-direction: column;
        gap: 1.5rem;
    }

    .gen__content_subtitle {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    .gen__content_div {
        margin-top: 12rem; margin-bottom: 8rem;
        /* margin-top: 12rem; margin-bottom: 15rem; */
    }

    .gen__text_container {
        width: 95% !important;
    }

    #main__separator {
        max-width: 270px !important;
        opacity: 30%;
    }

    .gen__etiquette {
        font-size: 12px;
    }

    .scroller {
        max-width: 350px;
    }

    .service__card .card__text .card__title {
        font-size: 18px;
    }

    /* Navbar */

    #Navbar__main {
        padding-inline: 35px;
    }

    #navbar__logo {
        width: 110px;
    }

    .navbar__link {
        display: none;
    }

    #btn__contatti {
        display: none;
    }

    .navbar__link_btn  {
        display: none;
    }

    #navbar__side_menu_btn {
        display: block;
    }

    #navbar__links_container {
        gap: 2rem;
    }

    .sidebar__tohide {
        display: none;
    }

    #sidebar__service_back {
        display: block;
        padding-left: 2rem;
    }
    #sidebar__service_back i {
        font-size: 35px;
    }

    /* Info */

    #Info__section {
        margin-block: 5rem;
    }

    .info__container {
        width: 85%;
    }

    .info__container.service__factor {
        margin-top: 8rem;
        margin-bottom: 12rem;
    }

    .info__title_block {
        width: 100%;
    }
    .info__body_text {
        width: 100%;
    }

    .info__content_div {
        flex-direction: column;
    }

    .info__content_div.stage__factor .gen__text_container {
        width: 80% !important;
    }



    .info__illustration {
        width: 80%;
    }

    /* Message */

    .scroller__inner {
        gap: 0rem;
    }

    .scroller__inner li {
        width: fit-content;
        padding-inline: 0rem;
        margin-inline: 0rem;
    }

    .scroller__image {
        width: 50%;
    }


    /* Offcanvas */

    .offcanvas__body {
        gap: 2rem;
        padding-top: 3rem;
    }
    .offcanvas__link {
        font-size: 35px;
    }

    #sidebar__menu {
        background-color: var(--black);
        width: 100%;
    }

    #offcanvas__poster {
        display: none;
    }

    .sidebar__link a {
        font-size: 55px;
    }

    .offcanvas__link:hover {
        padding-left: 0rem;
    }

    /* Service Info */

    #Service__Info__section {
        margin-block: 5rem;
        gap: 3rem;
    }

    #Services__offcanvas {
        background-color: var(--black);
    }

    .service__info__content_div {
        width: 88%;
    }

    .service__title_block {
        width: 85%;
    }

    .service__title_block .gen__title.contact__factor {
        max-width: 300px;
    }

    .info__stage_block i {
        font-size: 30px;
    }
    .info__stage_block span {
        font-size: 14px;
    }

    .info__stage_div {
        gap: 10px;
    }
    
    .stage__poster {
        display: none;
    }

    .service__info_illustration_block {
        flex-direction: column;
    }

    .service__info_illustration {
        width: 100%;
        height: 250px;
    }

    .service__card .card__text .card__body_text {
        width: 90% !important;
    }

    .service__card.long__service_card {
        width: 100%;
        max-width: 360px;
        height: 430px;
    }

    .service_end__body_text {
        width: 95%;
    }


    /* Info Stage */

    .info__stage_div {
        flex-direction: column;
    }
    
    .info__stage_div img {
        width: 60px; height: auto;
    }

    .arrow__illustration {
        transform: rotate(90deg);
        margin-block: 2.5rem;
    }

    /* Partner */

    .partner__content_div {
        flex-direction: column-reverse;
        gap: 3rem;
        width: 100%;
        margin-block: 5rem;
    }

    .partner__factor {
        width: 75%;
    }

    .partner__logo_div {
        width: 75%;
    }

    .partner__box_1 img {
        width: 70%;
    }
    .partner__box_2 img {
        width: 70%;
    }

    .partner__grid {
        gap: 10px;
    }

    .partener__grid_block {
        gap: 10px;
    }

    /* Services */

    .gen__box_title {
        font-size: 30px;
    }

    .service__boxs {
        width: 90%;
    }

    .service__text_block {
        width: 90%;
    }

    .service__body_text {
        width: 80%;
    }

    .service__grid_block {
        flex-direction: column;
        gap: 25px;
    }

    .service__multiple_box_block {
        width: 100%;
        gap: 10px;
    }

    .service__box_1 {
        width: 100%;
        height: 200px;
    }

    .service__box_2 {
        width: 100%;
        height: 200px;
    }

    .service__grid {
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    #service__message {
        max-width: 300px;
    }

    .service__info__content_div img {
        max-width: 300px;
    }

    .offcanvas__header {
        width: 85%;
    }
    #sidebar__service_back {
        padding-left: 0rem;
    }

    #sidebar__menu {
        padding-inline: 0rem;
    }

    /* Contact */

    .info__content_div.contact__factor .info__title_block {
        width: 90%;
    }

    .contact__box {
        width: 100%;
    }

    .cosafacciamo__container {
        width: 100%;
        align-items: center;
    }

    .cosafacciamo__content_div {
        width: 80%;
    }
    .cosafacciamo__cards_div {
        width: 80%;
    }

    .cosafacciamo__typeform {
        flex-direction: column;
        width: 100%;
        border-radius: 0rem;
        border: 0rem;
    }

    .typerform__text {
        width: 100%;
        padding-inline: 20px;
    }

    .typeform__img {
        width: 100%;
    }

    .typeform__img_preview {
        display: none;
    }

    .typerform__text .gen__title {
        width: 80%;
        font-size: 30px;
    }

    .gen__title img {
        width: 25px;
    }

    #Contact__section {
        margin-block: 8rem;
    }

    #Info__section.contact__factor {
        align-items: center;
        margin-block: 8rem;
    }

    .info__content_div.contact__factor {
        gap: 3rem;
        align-items: center;
    }


    /* Footer */

    #Footer_section {
        padding-top: 5rem;
    }

    .footer__logo {
        display: none;
    }

    .footer__links_container {
        width: 90%;
    }

    .footer__text_block {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 3rem;
    }

    .footer__links_block {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .footer__link:hover {
        padding: 0rem;
    }

    .footer__links_column {
        width: fit-content;
    }

    .footer__text_block .gen__big_title {
        font-size: 65px;
    }

    #the__credits {
        font-size: 9px;
    }

}

/* Smartphone in modalità paesaggio */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    
    /* Generic */
    .gen__title {
        font-size: 40px;
    }
    .gen__big_title {
        font-size: 85px;
    }
    .gen__big_title.makeitsmaller {
        font-size: 50px;
    }
    .gen__subtitle {
        font-size: 20px;
    }
    .gen__body_text {
        font-size: 16px;
    }
    .gen__first_type_btn span {
        font-size: 16px;
        padding: 10px 15px;
    }
    .gen__second_type_btn span {
        font-size: 16px;
    }

    .gen__first_type_btn:hover span {
        transition: all ease-in-out .5s;
        padding-inline: 15px;
    }

    #main__separator {
        max-width: 570px !important;
    }

    .gen__text_container {
        width: 95% !important;
    }

    .info__content_div.stage__factor {
        justify-content: center;
    }

    .scroller {
        max-width: 650px;
    }

    /* Navbar */

    .navbar__link {
        display: none;
    }

    #btn__contatti {
        display: none;
    }

    #navbar__side_menu_btn {
        display: block;
    }

    #navbar__links_container {
        gap: 2rem;
    }

    .sidebar__tohide {
        display: none;
    }

    #sidebar__service_back {
        display: block;
        padding-left: 2rem;
    }
    #sidebar__service_back i {
        font-size: 35px;
    }

    .sidebar__link a {
        font-size: 65px;
    }


    /* Offcanvas */

    .offcanvas__body {
        gap: 2rem;
        padding-top: 5rem;
    }
    .offcanvas__link {
        font-size: 45px;
    }

    /* Services */

    .gen__box_title {
        font-size: 30px;
    }

    .service__boxs {
        width: 90%;
    }

    .service__text_block {
        width: 90%;
    }

    .service__grid_block {
        flex-direction: column;
        gap: 30px;
    }

    .service__multiple_box_block {
        width: 100%;
        gap: 10px;
    }

    .service__card {
        width: 100%;
        max-width: 100%;
        height: 250px;
    }
    .service__card.long__service_card {
        width: 100%;
        height: 250px;
    }

    .service__grid {
        gap: 30px;
    }

    .long__service_card .card__body_text {
        width: 80% !important;
    }

    #service__message {
        max-width: 300px;
    }

    .service__info__content_div img {
        max-width: 300px;
    }

    .offcanvas__header {
        width: 85%;
    }
    #sidebar__service_back {
        padding-left: 0rem;
    }

    #sidebar__menu {
        padding-inline: 0rem;
    }

    /* Service Info */

    .service__info__content_div {
        width: 88%;
    }

    .info__stage_block i {
        font-size: 50px;
    }

    .stage__poster {
        display: none;
    }


    /* Info Stage */
    
    .info__stage_div img {
        width: 70px; height: auto;
    }

    .service__info_illustration_block {
        flex-direction: column;
    }

    .service__info_illustration {
        width: 100%;
        height: 250px;
        max-width: 800px;
    }

    .service__body_text {
        width: 60%;
    }

    .service__title {
        gap: 1.5rem;
    }

    /* Partner */

    .partner__factor {
        width: 35%;
    }

    .partner__box_1 img {
        width: 70%;
    }
    .partner__box_2 img {
        width: 70%;
    }

    /* Services */

    .gen__box_title {
        font-size: 30px;
    }

    .service__boxs {
        width: 90%;
    }

    #sidebar__menu {
        width: 100%;
    }

    #offcanvas__poster {
        display: none;
    }

    .offcanvas__header {
        width: 80%;
    }
    #sidebar__service_back {
        padding-left: 0rem;
    }

    /* Cosa Facciamo */

    .cosafacciamo__container {
        max-width: 800px;
    }

    .cosafacciamo__cards_div {
        justify-content: space-around;
    }

    .cosafacciamo__typeform {
        flex-direction: column;
    }

    .typerform__text {
        width: 100%;
        padding-inline: 50px;
    }

    .typeform__img {
        width: 100%;
    }

    .typeform__img img {
        width: 60%;
    }

    .Stages__section .info__content_div {
        width: 90%; gap: 1.5rem;
    }

    /* Partner */

    .message__text_container {
        margin-block: 2rem;
    }

    .scroller__image {
        width: 80%;
    }


    /* Footer */

    .footer__logo {
        max-width: 300px;
    }

    .footer__links_container {
        width: 40%;
    }

    .footer__text_block .gen__big_title {
        font-size: 105px;
    }


}

/* Tablet */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
    /* Generic */
    .gen__title {
        font-size: 60px;
    }
    .gen__big_title {
        font-size: 95px;
    }
    .gen__big_title.makeitsmaller {
        font-size: 65px;
    }
    .gen__subtitle {
        font-size: 20px;
    }
    .gen__body_text {
        font-size: 16px;
    }
    .gen__first_type_btn span {
        font-size: 16px;
        padding: 10px 15px;
    }
    .gen__second_type_btn span {
        font-size: 16px;
    }
    #main__separator {
        max-width: 570px !important;
    }

    .scroller {
        max-width: 750px;
    }

    /* Offcanvas */

    .offcanvas__body {
        gap: 2rem;
    }
    .offcanvas__link {
        font-size: 45px;
    }

    #offcanvas__poster {
        display: none;
    }

    /* Service Info */

    .service__info__content_div {
        width: 88%;
    }

    .info__stage_block i {
        font-size: 70px;
    }

    .service__body_text {
        width: 60%;
    }

    .service__title {
        gap: 2rem;
    }

    /* Partner */

    .partner__box_1 img {
        width: 70%;
    }
    .partner__box_2 img {
        width: 70%;
    }

    /* Cosa Facciamo */

    .cosafacciamo__container {
        max-width: 800px;
    }

    .cosafacciamo__cards_div {
        justify-content: space-around;
    }

    .cosafacciamo__typeform {
        flex-direction: column;
    }

    .typerform__text {
        width: 100%;
        padding-inline: 50px;
    }

    .typeform__img {
        width: 100%;
    }

    .typeform__img img {
        width: 60%;
    }

    .Stages__section .info__content_div {
        width: 90%; gap: 1.5rem;
    }

    /* Footer */

    .footer__logo {
        max-width: 300px;
    }

    .footer__text_block .gen__big_title {
        font-size: 135px;
    }

}

/* Dispositivi con schermi più grandi, come laptop e desktop */
@media only screen and (min-width: 1200px) {
    /* Aggiungi qui i tuoi stili per laptop e desktop */
}